pkgbase = qt5-systems-git
	pkgdesc = Qt Publish and Subscribe Add-on Module
	pkgver = v5.0.0.beta1.r155.g66e45676
	pkgrel = 2
	url = https://github.com/qtproject/qtsystems
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL3
	license = LGPL
	license = FDL
	license = custom
	makedepends = git
	depends = qt5-declarative
	provides = qt5-systems
	conflicts = qt5-systems
	source = git+http://code.qt.io/cgit/qt/qtsystems.git
	sha256sums = SKIP

pkgname = qt5-systems-git

