pkgbase = settings-components-git
	pkgdesc = Ubuntu settings components for Unity8
	pkgver = r831.d66cac2
	pkgrel = 3
	url = https://github.com/ubports/settings-components
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL
	license = GPL
	makedepends = git
	makedepends = cmake
	makedepends = cmake-extras-git
	depends = xorg-server-xvfb
	depends = qt5-quickcontrols
	provides = settings-components
	conflicts = settings-components
	source = git+https://github.com/ubports/settings-components.git
	sha256sums = SKIP

pkgname = settings-components-git

