pkgbase = ubuntu-download-manager-git
	pkgdesc = Provides a service for downloading files while an application is suspended
	pkgver = r2545.695e5dc8
	pkgrel = 1
	url = https://github.com/ubports/ubuntu-download-manager
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL
	makedepends = git
	makedepends = doxygen
	makedepends = cmake
	makedepends = cmake-extras-git
	makedepends = gcovr
	makedepends = lcov
	depends = boost
	depends = dbus-test-runner
	depends = gmock
	depends = qt5-base
	depends = qt5-declarative
	depends = libnih
	depends = google-glog
	provides = ubuntu-download-manager
	conflicts = ubuntu-download-manager
	source = git+https://github.com/ubports/ubuntu-download-manager.git
	source = QtArg.patch
	sha256sums = SKIP
	sha256sums = 8182121308e04f60e29dfc1e3c8e221413b5a905ea1302e75acbe95a6bb7f866

pkgname = ubuntu-download-manager-git

