pkgbase = ubuntu-download-manager-git
	pkgdesc = Provides a service for downloading files while an application is suspended
	pkgver = r2535.e6cfc9dc
	pkgrel = 1
	url = https://github.com/ubports/ubuntu-download-manager
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL
	makedepends = git
	makedepends = doxygen
	makedepends = cmake
	depends = boost
	depends = dbus-test-runner
	depends = gmock
	depends = qt5-base
	depends = qt5-declarative
	depends = libnih
	depends = google-glog
	source = git+https://github.com/ubports/ubuntu-download-manager.git
	source = QtArg.patch
	source = Gtest.patch
	sha256sums = SKIP
	sha256sums = 8182121308e04f60e29dfc1e3c8e221413b5a905ea1302e75acbe95a6bb7f866
	sha256sums = 7c8fda70b365baeb48b96dd031ae8efff1f18161031f847190bc0fc42d3d206b

pkgname = ubuntu-download-manager-git

