pkgbase = location-service-git
	pkgdesc = Location service aggregating position/velocity/heading updates and exporting them over dbus
	pkgver = r951.142f6ca
	pkgrel = 2
	url = https://github.com/ubports/location-service
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL
	license = GPL
	makedepends = git
	makedepends = cmake
	makedepends = cmake-extras-git
	makedepends = doxygen
	depends = boost
	depends = net-cpp-git
	depends = trust-store-git
	depends = gtest
	depends = gmock
	depends = clang
	provides = location-service
	conflicts = location-service
	source = git+https://github.com/ubports/location-service.git
	sha256sums = SKIP

pkgname = location-service-git

