[submodule "gcovr"]
	path = gcovr
	url = https://aur.archlinux.org/gcovr.git
[submodule "lcov"]
	path = lcov
	url = https://aur.archlinux.org/lcov.git
[submodule "hybris-usb"]
	path = hybris-usb
	url = https://aur.archlinux.org/hybris-usb.git
[submodule "dbus-cpp"]
	path = dbus-cpp
	url = https://aur.archlinux.org/dbus-cpp.git
[submodule "process-cpp"]
	path = process-cpp
	url = https://aur.archlinux.org/process-cpp.git
[submodule "properties-cpp"]
	path = properties-cpp
	url = https://aur.archlinux.org/properties-cpp.git
[submodule "apparmor"]
	path = apparmor
	url = https://aur.archlinux.org/apparmor.git
