[submodule "gcovr"]
	path = gcovr
	url = https://aur.archlinux.org/gcovr.git

[submodule "lcov"]
	path = lcov
	url = https://aur.archlinux.org/lcov.git

[submodule "hybris-usb"]
	path = hybris-usb
	url = https://aur.archlinux.org/hybris-usb.git
