pkgbase = libusermetrics-git
	pkgdesc = Library for exporting anonymous metrics about users
	pkgver = r477.a50ce9f
	pkgrel = 1
	url = https://github.com/ubports/libusermetrics
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL3
	license = LGPL
	license = GPL
	makedepends = git
	makedepends = cmake
	makedepends = cmake-extras-git
	makedepends = doxygen
	makedepends = intltool
	depends = qt5-base
	depends = qt5-xmlpatterns
	depends = gsettings-qt
	depends = apparmor-libapparmor
	depends = click-git
	depends = qdjango-git
	depends = libqtdbustest-git
	source = git+https://github.com/ubports/libusermetrics.git
	sha256sums = SKIP

pkgname = libusermetrics-git

