pkgbase = qmenumodel-git
	pkgdesc = Qt binding for GMenuModel
	pkgver = r506.30e3dc5
	pkgrel = 1
	url = https://github.com/ubports/qmenumodel
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL3
	makedepends = git
	makedepends = cmake
	depends = qt5-base
	depends = qt5-quickcontrols
	source = git+https://github.com/ubports/qmenumodel.git
	sha256sums = SKIP

pkgname = qmenumodel-git

