pkgbase = unity-scopes-api-git
	pkgdesc = Library to integrate scopes with the Unity shell
	pkgver = 31ad0017
	pkgrel = 1
	url = https://github.com/ubports/unity-scopes-api
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL
	makedepends = git
	makedepends = cmake
	makedepends = cmake-extras-git
	makedepends = doxygen
	makedepends = graphviz
	depends = unity-api-git
	depends = process-cpp
	depends = apparmor-libapparmor
	depends = lttng-ust
	depends = libaccounts-glib
	depends = libsignon-glib
	depends = zeromq
	depends = net-cpp-git
	depends = json-glib
	depends = zmqpp
	depends = capnproto
	depends = lttng-tools
	depends = astyle
	depends = dos2unix
	depends = clang
	depends = dbus-test-runner
	depends = lcov
	depends = gcovr
	depends = valgrind
	depends = cppcheck
	depends = python-dbusmock
	depends = python-tornado
	source = git+https://github.com/ubports/unity-scopes-api.git
	source = ParseChangelog.patch
	source = RemoveWeirdTest.patch
	sha256sums = SKIP
	sha256sums = 23f846d0e08c8bd1c33c8581d1c96a6558193b4a26b0c7f3b9cbbc7595b3d339
	sha256sums = 3f360c514def2ab82e66c9284a0af83dd221e968217218b670e49d26ee00b0b5

pkgname = unity-scopes-api-git

