pkgbase = libqtdbusmock-git
	pkgdesc = Library for mocking DBus interactions using Qt
	pkgver = d6d1830
	pkgrel = 1
	url = https://github.com/ubports/libqtdbusmock
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL3
	checkdepends = python-dbusmock
	checkdepends = python-dbus
	checkdepends = python-gobject
	makedepends = git
	makedepends = cmake
	makedepends = cmake-extras-git
	depends = networkmanager
	depends = libqtdbustest-git
	depends = gmock
	source = git+https://github.com/ubports/libqtdbusmock.git
	sha256sums = SKIP

pkgname = libqtdbusmock-git

