pkgbase = glamor-hybris-git
	pkgdesc = Glamor Xserver 2D acceleration, modified to work with libhybris drivers
	pkgver = 610f18a
	pkgrel = 1
	url = https://github.com/NotKit/glamor-hybris
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	groups = xorg-drivers
	groups = xorg
	makedepends = xorg-server-devel
	makedepends = git
	depends = xorg-server
	depends = xproto
	depends = fontsproto
	depends = randrproto
	depends = renderproto
	source = git+https://github.com/gemian/glamor-hybris
	sha256sums = SKIP

pkgname = glamor-hybris-git

