pkgbase = geonames-git
	pkgdesc = Parse and query the geonames database dump
	pkgver = r4.fb9788a
	pkgrel = 1
	url = https://github.com/ubports/geonames
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL3
	makedepends = git
	makedepends = gtk-doc
	source = git+https://github.com/vanyasem/geonames.git
	source = https://unity8.mynameisivan.ru/alternateNames.txt
	sha256sums = SKIP
	sha256sums = ba6ce17564e83fa53270e482d319ed9442d23fe347e5fbb331b0aff6ee7122de

pkgname = geonames-git

