pkgbase = click-git
	pkgdesc = Click is a simplified packaging format
	pkgver = 28b9c13
	pkgrel = 1
	url = https://github.com/ubports/click
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	makedepends = git
	makedepends = cmake
	makedepends = intltool
	makedepends = vala
	makedepends = gobject-introspection
	depends = libgee
	depends = json-glib
	source = git+https://github.com/ubports/click.git
	sha256sums = SKIP

pkgname = click-git

