pkgbase = qdjango-git
	pkgdesc = A Qt-based C++ web framework
	pkgver = v0.6.2+16+gbda4755
	pkgrel = 2
	url = https://github.com/jlaine/qdjango/
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL2.1
	makedepends = git
	depends = qt5-base
	provides = qdjango
	conflicts = qdjango
	source = git+https://github.com/jlaine/qdjango.git
	source = qdjango.patch
	sha256sums = SKIP
	sha256sums = 74e802a40c57b0685a0bd951884d476b273e775551338b5e7e0212fabd53e974

pkgname = qdjango-git

