pkgbase = platform-api-git
	pkgdesc = Platform API for system level capabilities
	pkgver = r1263.464a38b
	pkgrel = 1
	url = https://github.com/ubports/platform-api
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = cmake-extras-git
	makedepends = doxygen
	depends = location-service-git
	depends = url-dispatcher-git
	depends = process-cpp
	source = git+https://github.com/ubports/platform-api.git
	source = hybris.patch
	sha256sums = SKIP
	sha256sums = 4ad5879d7e6ba5d9c269dc59b30e6069d9846d40fbb66773170357375fdc0fbe

pkgname = platform-api-git

