pkgbase = libqofono
	pkgdesc = A library for accessing the ofono daemon, and a declarative plugin for it
	pkgver = 0.94
	pkgrel = 1
	url = https://git.merproject.org/mer-core/libqofono
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL
	depends = qt5-base
	depends = qt5-declarative
	depends = qt5-xmlpatterns
	source = https://git.merproject.org/mer-core/libqofono/-/archive/0.94/libqofono-0.94.tar.gz
	sha256sums = f5220a583f559f31f2b8592068f59ad0620e46d1e6bafc0d5d46da6771ecd472

pkgname = libqofono

