pkgbase = qtmir-git
	pkgdesc = Qt platform abstraction (QPA) plugin for a Mir server
	pkgver = r2313.b37293e2
	pkgrel = 2
	url = https://github.com/ubports/qtmir
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL
	makedepends = git
	makedepends = cmake
	makedepends = cmake-extras-git
	depends = qt5-base
	depends = qt5-quickcontrols
	depends = qt5-sensors
	depends = mir
	depends = process-cpp
	depends = ubuntu-app-launch-git
	depends = gsettings-qt
	depends = libqtdbustest-git
	depends = libqtdbusmock-git
	depends = content-hub-git
	depends = url-dispatcher-git
	depends = glm
	depends = gtest
	source = git+https://github.com/ubports/qtmir.git
	source = NoCatchValue.patch
	sha256sums = SKIP
	sha256sums = 0e706edbd8ef0bc7358202b01c6efcba1d2837699457628d9ec942e6a5135a4e

pkgname = qtmir-git

