pkgbase = content-hub-git
	pkgdesc = Content sharing/picking infrastructure and service
	pkgver = r1509.3f04620
	pkgrel = 1
	url = https://github.com/ubports/content-hub
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL3
	checkdepends = xorg-server-xvfb
	makedepends = git
	makedepends = cmake
	makedepends = cmake-extras-git
	makedepends = doxygen
	makedepends = graphviz
	depends = lcov
	depends = gcovr
	depends = gmock
	depends = ubuntu-app-launch-git
	depends = ubuntu-download-manager-git
	depends = gsettings-qt
	depends = apparmor
	depends = libnotify
	depends = ubuntu-ui-toolkit-git
	provides = content-hub
	conflicts = content-hub
	source = git+https://github.com/ubports/content-hub.git
	source = QtArg.patch
	sha256sums = SKIP
	sha256sums = 59f927b1cda19e082fce433a852665f26e40f399433caca5fa0e7841d95d48f0

pkgname = content-hub-git

