pkgbase = content-hub-git
	pkgdesc = Content sharing/picking infrastructure and service
	pkgver = 66955f6
	pkgrel = 1
	url = https://github.com/ubports/content-hub
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL3
	checkdepends = xorg-server-xvfb
	makedepends = git
	makedepends = cmake
	makedepends = cmake-extras-git
	makedepends = doxygen
	makedepends = graphviz
	depends = lcov
	depends = gcovr
	depends = gmock
	depends = ubuntu-app-launch-git
	depends = ubuntu-download-manager-git
	depends = gsettings-qt
	depends = apparmor-libapparmor
	depends = libnotify
	depends = ubuntu-ui-toolkit-git
	source = git+https://github.com/ubports/content-hub.git
	source = Gtest.patch
	source = QtArg.patch
	source = GtestSrc.patch
	sha256sums = SKIP
	sha256sums = 9fc3692694d916d329a3830e01a4a8c36d897a7e8e2cce2905b4a8d049b9659f
	sha256sums = 59f927b1cda19e082fce433a852665f26e40f399433caca5fa0e7841d95d48f0
	sha256sums = 8c360d0af436f19e7bc15a141a10ebaad4e59af9e582b86feaf207071f748849

pkgname = content-hub-git

