pkgbase = lxc-android-git
	pkgdesc = LXC container configuration for Android
	pkgver = 2f5be4b
	pkgrel = 3
	url = https://github.com/Halium/lxc-android
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = Apache
	depends = lxc
	depends = cpio
	source = git+https://github.com/Halium/lxc-android.git
	source = lxcconfig.patch
	sha256sums = SKIP
	sha256sums = c51d083764bbdf50f8f554582557bed5344b129176b5ab2019674c91bdd6751a

pkgname = lxc-android-git

