pkgbase = history-service-git
	pkgdesc = History service to store messages and calls
	pkgver = 0d4b4b5
	pkgrel = 1
	url = https://github.com/ubports/history-service
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL
	makedepends = git
	makedepends = cmake
	depends = lcov
	depends = gcovr
	depends = libphonenumber
	depends = telepathy-qt
	depends = sqlite
	depends = telepathy-mission-control
	depends = qt-gstreamer
	depends = qt5-pim-git
	source = git+https://github.com/ubports/history-service.git
	source = Qt511.patch
	sha256sums = SKIP
	sha256sums = f282faafc6176f9632a48ecc3a5338025b37d09db06e699e58df6774d0f0b3ec

pkgname = history-service-git

