pkgbase = history-service-git
	pkgdesc = History service to store messages and calls
	pkgver = r940.75af530
	pkgrel = 1
	url = https://github.com/ubports/history-service
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL
	makedepends = git
	makedepends = cmake
	depends = lcov
	depends = gcovr
	depends = libphonenumber
	depends = telepathy-qt
	depends = sqlite
	depends = telepathy-mission-control
	depends = qt-gstreamer
	depends = qt5-pim-git
	source = git+https://github.com/ubports/history-service.git
	sha256sums = SKIP

pkgname = history-service-git

