pkgbase = url-dispatcher-git
	pkgdesc = Service to allow sending of URLs and get handlers started
	pkgver = 2b0df70
	pkgrel = 1
	url = https://github.com/ubports/url-dispatcher
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL
	checkdepends = python-testtools
	checkdepends = python-nose
	makedepends = git
	makedepends = cmake
	makedepends = cmake-extras-git
	depends = ubuntu-app-launch-git
	depends = unity-scopes-api-git
	depends = intltool
	source = git+https://github.com/ubports/url-dispatcher.git
	sha256sums = SKIP

pkgname = url-dispatcher-git

