pkgbase = url-dispatcher-git
	pkgdesc = Service to allow sending of URLs and get handlers started
	pkgver = r734.f7b7e00
	pkgrel = 2
	url = https://github.com/ubports/url-dispatcher
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL
	checkdepends = python-testtools
	checkdepends = python-nose
	makedepends = git
	makedepends = cmake
	makedepends = cmake-extras-git
	depends = ubuntu-app-launch-git
	depends = intltool
	provides = url-dispatcher
	conflicts = url-dispatcher
	source = git+https://github.com/ubports/url-dispatcher.git
	source = no-discarded-qualifiers.patch
	sha256sums = SKIP
	sha256sums = acffad6f0cf98faedea4c4ef917e0fcca3f5faa61d95afb55f617ff94ff32d51

pkgname = url-dispatcher-git

