pkgbase = url-dispatcher-git
	pkgdesc = Service to allow sending of URLs and get handlers started
	pkgver = 2b0df70
	pkgrel = 1
	url = https://github.com/ubports/url-dispatcher
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL
	checkdepends = python-testtools
	checkdepends = python-nose
	makedepends = git
	makedepends = cmake
	makedepends = cmake-extras-git
	depends = ubuntu-app-launch-git
	depends = unity-scopes-api-git
	depends = intltool
	source = git+https://github.com/ubports/url-dispatcher.git
	source = pthread.patch
	sha256sums = SKIP
	sha256sums = 9cb86a30189e6114a17f5124f33e0e473d5da4d92af6c9f6c9be916e6ce7d469

pkgname = url-dispatcher-git

