pkgbase = persistent-cache-cpp-bzr
	pkgdesc = A cache of key-value pairs with persistent storage for C++
	pkgver = r28
	pkgrel = 1
	url = https://launchpad.net/persistent-cache-cpp
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL
	makedepends = bzr
	makedepends = cmake
	makedepends = cmake-extras-git
	makedepends = doxygen
	makedepends = graphviz
	makedepends = lcov
	makedepends = gcovr
	makedepends = gtest
	depends = boost
	depends = leveldb
	depends = valgrind
	source = bzr+lp:persistent-cache-cpp
	sha256sums = SKIP

pkgname = persistent-cache-cpp-bzr

