pkgbase = libqtdbustest-git
	pkgdesc = Library for testing DBus interactions using Qt
	pkgver = r83.24e410e
	pkgrel = 2
	url = https://github.com/ubports/libqtdbustest
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL3
	checkdepends = python-dbusmock
	checkdepends = python-dbus
	checkdepends = python-gobject
	makedepends = git
	makedepends = cmake
	makedepends = cmake-extras-git
	depends = gcovr
	depends = lcov
	depends = gmock
	depends = qt5-base
	provides = libqtdbustest
	conflicts = libqtdbustest
	source = git+https://github.com/ubports/libqtdbustest.git
	source = SuicidalSleep.patch
	sha256sums = SKIP
	sha256sums = adbb9680bf2293fd4694d35ba5876623dc12c6fc78a5f772817f15921d44c5ec

pkgname = libqtdbustest-git

