pkgbase = ubuntu-ui-toolkit-git
	pkgdesc = Qt Components for Ubuntu
	pkgver = de9a0b250
	pkgrel = 1
	url = https://github.com/ubports/ubuntu-ui-toolkit
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL
	makedepends = git
	depends = qt5-base
	depends = qt5-quickcontrols
	depends = lttng-ust
	depends = libnih
	depends = qt5-systems-git
	depends = qt5-pim-git
	depends = qt5-svg
	depends = qt5-feedback
	depends = ubuntu-themes
	depends = qt5-graphicaleffects
	source = git+https://github.com/ubports/ubuntu-ui-toolkit.git
	source = NoWarns.patch
	source = QTest.patch
	source = dpkg.patch
	source = NoDocs.patch
	sha256sums = SKIP
	sha256sums = 3b8a3165161d5c695a7f3f8f3b08a3de11451b8f52276b5b1856730f0aa557c9
	sha256sums = 09265797bb847baedc2d7a19968e853d487d63eec538e3be93fc706ff40598d3
	sha256sums = 5851aec4b72ddd1556494ab188c6de64ccaa77a1b574a0bd2631916300ac242a
	sha256sums = 7b3e6078815dac602792211e69d7ffd878056ecdb96b19f221db67e6e5ac4614

pkgname = ubuntu-ui-toolkit-git

