pkgbase = ubuntu-ui-toolkit-git
	pkgdesc = Qt Components for Ubuntu
	pkgver = r18021.cee7f49f4
	pkgrel = 1
	url = https://github.com/ubports/ubuntu-ui-toolkit
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL
	makedepends = git
	depends = qt5-base
	depends = qt5-quickcontrols
	depends = lttng-ust
	depends = libnih
	depends = qt5-systems
	depends = qt5-pim
	depends = qt5-svg
	depends = qt5-feedback
	depends = ubuntu-themes
	depends = qt5-graphicaleffects
	depends = bluez-libs
	provides = ubuntu-ui-toolkit
	conflicts = ubuntu-ui-toolkit
	source = git+https://github.com/ubports/ubuntu-ui-toolkit.git#branch=bionic
	source = NoWarns.patch
	source = dpkg.patch
	source = https://github.com/ubports/ubuntu-ui-toolkit/pull/29.patch
	sha256sums = SKIP
	sha256sums = 3b8a3165161d5c695a7f3f8f3b08a3de11451b8f52276b5b1856730f0aa557c9
	sha256sums = 5851aec4b72ddd1556494ab188c6de64ccaa77a1b574a0bd2631916300ac242a
	sha256sums = 537d3be7d2d379709de7b28a2bae65ec3fd1af8f023d5a10440f17a63e309600

pkgname = ubuntu-ui-toolkit-git

