pkgbase = unity8-git
	pkgdesc = Unity 8 shell
	pkgver = r17991.18c3f6f3c
	pkgrel = 1
	url = https://github.com/ubports/unity8
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL3
	checkdepends = xorg-server-xvfb
	makedepends = git
	makedepends = cmake
	makedepends = cmake-extras-git
	makedepends = doxygen
	depends = lcov
	depends = gcovr
	depends = geonames-git
	depends = unity-api-git
	depends = qmenumodel-git
	depends = gnome-desktop
	depends = ubuntu-app-launch-git
	depends = ubuntu-ui-toolkit-git
	depends = libqtdbustest-git
	depends = libqtdbusmock-git
	depends = system-settings-git
	depends = indicator-network-git
	depends = libusermetrics-git
	depends = liblightdm-qt5
	depends = settings-components-git
	depends = unity7-schemas
	depends = gsettings-ubuntu-touch-schemas-git
	depends = ubuntu-wallpapers
	provides = unity8
	conflicts = unity8
	source = git+https://github.com/ubports/unity8.git
	source = AndroidAway.patch
	source = NoDpkgParse.patch
	sha256sums = SKIP
	sha256sums = ba26a1235461f531f9961a306da22593db92d3bd08a84139ef4ae2d042a2b1cc
	sha256sums = ef149765d0c8c5f2366d7bab4d7b3084014b57258f759ed41d7c0efd1c75f69e

pkgname = unity8-git

