pkgbase = libertine-git
	pkgdesc = A sandbox for running legacy deb-based X11 applications
	pkgver = r465.4ae89b2
	pkgrel = 1
	url = https://github.com/ubports/libertine
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = cmake-extras-git
	makedepends = dbus-test-runner
	makedepends = intltool
	depends = python3
	depends = gtest
	depends = qt5-base
	depends = qt5-quickcontrols
	source = git+https://github.com/ubports/libertine.git
	sha256sums = SKIP

pkgname = libertine-git

