pkgbase = libhybris-aarch64-git
	pkgver = 1296.4a7d95b
	pkgrel = 1
	url = https://github.com/libhybris/libhybris
	arch = aarch64
	license = Apache
	makedepends = wayland
	makedepends = hybris-android-headers
	source = git+https://github.com/libhybris/libhybris.git
	md5sums = SKIP

pkgname = libhybris-aarch64-git
	pkgdesc = hybris allows to use bionic-based HW adaptations in glibc systems
	depends = hybris-android-headers
	provides = libhybris
	conflicts = libhybris

pkgname = libhybris-aarch64-libgl-git
	pkgdesc = hybris 3-D graphics library
	depends = libhybris
	depends = libhybris-wayland-egl-git
	depends = mesa-hybris
	provides = libgl
	conflicts = libgl
	replaces = libgl

pkgname = libhybris-aarch64-wayland-egl-git
	pkgdesc = hybris 3-D wayland library
	depends = libhybris
	provides = libwayland-egl
	conflicts = libwayland-egl
	replaces = libwayland-egl

