pkgbase = unity-api-git
	pkgdesc = API for Unity shell integration
	pkgver = r1102.30dd7b3
	pkgrel = 2
	url = https://github.com/ubports/unity-api
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL3
	makedepends = git
	makedepends = cmake
	makedepends = cppcheck
	makedepends = graphviz
	makedepends = libqtdbustest-git
	makedepends = cmake-extras-git
	depends = qt5-quickcontrols
	provides = unity-api
	conflicts = unity-api
	source = git+https://github.com/ubports/unity-api.git
	source = https://patch-diff.githubusercontent.com/raw/ubports/unity-api/pull/18.patch
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = unity-api-git

