pkgbase = hybris-android-headers
	pkgdesc = Header files needed to write applications for the Android platform
	pkgver = 5.1.1
	pkgrel = 1
	url = https://github.com/Halium/android-headers
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = custom
	provides = hybris-android-headers
	conflicts = hybris-android-headers
	options = !strip
	source = git+https://github.com/Halium/android-headers.git
	sha256sums = SKIP

pkgname = hybris-android-headers

