pkgbase = trust-store-git
	pkgdesc = C++11 library for persisting trust requests
	pkgver = r423.0292700
	pkgrel = 3
	url = https://github.com/ubports/trust-store
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = LGPL
	makedepends = git
	makedepends = cmake
	makedepends = cmake-extras-git
	makedepends = doxygen
	makedepends = graphviz
	depends = qt5-base
	depends = qt5-quickcontrols
	depends = boost
	depends = dbus-cpp
	depends = gmock
	depends = lcov
	depends = gcovr
	depends = mir
	depends = apparmor
	depends = properties-cpp
	provides = trust-store
	conflicts = trust-store
	source = git+https://github.com/ubports/trust-store.git
	sha256sums = SKIP

pkgname = trust-store-git

