pkgbase = ubuntu-app-launch-git
	pkgdesc = Session init system job for Launching Applications
	pkgver = r3022.bde4305
	pkgrel = 2
	url = https://github.com/ubports/ubuntu-app-launch
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL
	makedepends = git
	makedepends = cmake
	makedepends = cmake-extras-git
	makedepends = dbus-test-runner
	makedepends = gmock
	depends = zeitgeist
	depends = gobject-introspection
	depends = lttng-ust
	depends = mir
	depends = libertine-git
	depends = unity-api-git
	depends = properties-cpp
	depends = curl
	source = git+https://github.com/ubports/ubuntu-app-launch.git
	source = FormatTruncation.patch
	source = Gtest.patch
	sha256sums = SKIP
	sha256sums = db5684a2f42a664d1e1c10af2e1ff6f0edb43d63e7936d37ca75c575875f7f97
	sha256sums = 3c0a88fce3e8af6ac648a026b2fe592b614b511763ad9defeb87659f29b4a1bd

pkgname = ubuntu-app-launch-git

