pkgbase = hybris-android-headers-7
	pkgdesc = Header files needed to write applications for the Android platform
	pkgver = 7.1.1
	pkgrel = 2
	url = https://github.com/vanyasem/android-headers
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = custom
	provides = hybris-android-headers
	conflicts = hybris-android-headers
	options = !strip
	source = android-headers-7::git+https://github.com/vanyasem/android-headers.git
	sha256sums = SKIP

pkgname = hybris-android-headers-7

pkgname = hybris-android-headers-7-caf

