pkgbase = mir-git
	pkgdesc = Canonical's display server
	pkgver = v0.31.2+400+gfd0788be81
	pkgrel = 1
	url = https://mir-server.io
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL
	license = LGPL
	makedepends = git
	makedepends = glm
	makedepends = doxygen
	makedepends = cmake
	depends = boost
	depends = gcovr
	depends = lcov
	depends = capnproto
	depends = google-glog
	depends = gflags
	depends = libglvnd
	depends = valgrind
	depends = liburcu
	depends = lttng-ust
	depends = libepoxy
	depends = nettle
	depends = libinput
	depends = libxml++2.6
	depends = libxkbcommon
	depends = python-pillow
	depends = freetype2
	depends = gmock
	depends = libevdev
	depends = umockdev
	depends = python-dbusmock
	depends = protobuf
	depends = python-dbus
	depends = python-gobject
	depends = hicolor-icon-theme
	depends = lib32-glibc
	optdepends = qterminal: required for miral demos
	optdepends = xcursor-dmz: required for miral demos
	optdepends = ttf-ubuntu-font-family: required for miral demos
	optdepends = qt5-wayland: required for miral demos
	provides = mir
	conflicts = mir
	source = git+https://github.com/MirServer/mir.git
	source = https://raw.githubusercontent.com/capnproto/capnproto/04fd66e2992a3ed38d686642a3c479a7f3e131c9/c%2B%2B/cmake/FindCapnProto.cmake
	source = boost67.patch
	source = noloop.patch
	sha256sums = SKIP
	sha256sums = 83153402ea0220a9ed3f9d2c2c157eb49fedf340f368cd8173f0966b3fbf2647
	sha256sums = 09234d95c001540ba33b47b3d419a1648b637d9d7c26c5844d0466479faa5021
	sha256sums = 4f78830390bb19fd5d80231257c16eeea028822c0e7581a1dc1d41bd7b105a95

pkgname = mir-git

