pkgbase = thumbnailer-git
	pkgdesc = D-Bus service for out of process thumbnailing
	pkgver = r1938.ec1c06a
	pkgrel = 2
	url = https://github.com/ubports/thumbnailer
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = GPL
	makedepends = git
	makedepends = cmake
	depends = boost
	depends = qt5-base
	depends = qt5-quickcontrols
	depends = gstreamer
	depends = gst-plugins-base
	depends = gdk-pixbuf2
	depends = libexif
	depends = unity-api-git
	depends = apparmor-libapparmor
	depends = taglib
	depends = persistent-cache-cpp-bzr
	provides = thumbnailer
	conflicts = thumbnailer
	source = git+https://github.com/ubports/thumbnailer.git
	sha256sums = SKIP

pkgname = thumbnailer-git

